@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600&family=Poppins:wght@100;200;300;400;600;700&display=swap');
body {
    margin: 0;
    padding: 0;
    background-color:#AADFC5 ;
    font-family: 'Poppins', sans-serif;
}

/* TYPOGRAPHY */
.logo{
    text-decoration: none;
    color: #7A4900;
    font-weight: 700;

}
.hero-section {
    text-align: center;
}
.hero-title {
    font-family: 'Montserrat', sans-serif;
    line-height: 1;
    font-size: 2.5rem;
    font-weight: 700;

}
.hero-sub{
    color: #535353;
    font-size: .75rem;
    line-height: 1.75;
}

/* LAYOUT */
main {
    padding: 1em;
}


/* HEADER */
header {
    display: flex;
    justify-content:space-between;
    padding: 1em;
}
.open {
    cursor: pointer;
}
.exit {
    width: 2.5em;
    float: right;
    cursor: pointer;
    margin: 1em;
}

nav {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ffffff;
    height: 100vh;
    width: 100%;
    display: none;
    transform: translateX(50%);
    opacity: 0;
    transition: all 1s;
}
.open-nav {
    display: block;
    transform: translateX(0);
    opacity: 1;
}
ul {
    padding: 0;
    margin-top: 4em;
    list-style-type: none;
}
.nav-link {
    text-decoration: none;
    color: black;
    font-size: 2rem;
    padding: 1em 2em;
    display: block;

}
.nav-link:hover,
.nav-link:focus {
    color: #47946E;
    font-weight: bold;
}
.active {
    color: #47946E;
}

/* HERO SECTION */

.hero-title {
    margin: 1em auto 0;
}
.hero-title::before{
    content:'';
    width: 30%;
    height: 7px;
    background-color: #7A4900;
    position: absolute;
    top: 2.3em;
    left: 30%;
    z-index: -1;
}
.hero-sub {
    width: 70%;
    margin: 2em auto;
}
.cta {
    display: block;
    text-decoration: none;
    background-color: #7A4900;
    color: #fff;
    font-size: .5rem;
    letter-spacing: .3em;
    padding: .5em 1.5em;
    margin: 2em 0;
    white-space: nowrap;
}
.outline {
    background: none;
    border: 1px solid #7A4900;
    color: #7A4900;
}
.plant-container {
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    z-index: -1;
}
.hero-img {
    width: 25em;
    position: absolute;
    bottom: -30%;
    right: -65%;
}

.fern{
    background: url(img/fern.svg) no-repeat;
    width: 100%;
    height: 20em;
    position: absolute;
    top: 7em;
    opacity: .2;
    z-index: -1;
}



@media (min-width: 500px) {
    body {
        font-size: 18px;
    }

    .exit,
    .open {
        display: none;
    }
    nav {
        transform:unset;
        transition: unset;
        opacity: 1;
        display: block;
        height: unset;
        width: unset;
        position: unset;
        background-color: unset;

    }
    ul {
        display: flex;
        justify-content: space-between;
        margin: 0;
        padding: 0;
    }
    .nav-link {
        font-size: 1rem;
        margin: 0;
        padding: 0 1em;
        text-transform: uppercase;
    }
    .hero-title{
        font-size: 3rem;
    }

    .hero-sub {
        font-size: 1rem;
    }
    .cta {
        font-size: .75rem;
        display: inline-block
    }
    .outline {
        margin-left: 1em;
    }
}

@media (min-width: 800px) {
    .hero-section {
        display: flex;
        text-align: left;
    }
    .content-container {
        margin-top: 4em;
        padding-left: 2em;
    }
    .hero-sub {
        margin-left: 0;
    }
    .hero-img {
        top: 5em;
        right: -12em;
        width: 35em; 
    }
    .hero-title::before{
        left: 7%;
        top: 5.2em;
    }
    .hero-sub{
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .hero-sub {
        /* width: 60%; */
    }
}